@font-face {
  font-family: 'TT Fors Trial ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial ExtraLight Italic'),
    url('TT Fors Trial ExtraLight Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Variable';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Variable'),
    url('TT Fors Trial Variable.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Thin';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Thin'),
    url('TT Fors Trial Thin.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Thin Italic'),
    url('TT Fors Trial Thin Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Regular'),
    url('TT Fors Trial Regular.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Medium';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Medium'),
    url('TT Fors Trial Medium.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Medium Italic'),
    url('TT Fors Trial Medium Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Light';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Light'),
    url('TT Fors Trial Light.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Light Italic'),
    url('TT Fors Trial Light Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Italic'),
    url('TT Fors Trial Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial ExtraLight'),
    url('TT Fors Trial ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Black Outline Trial Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Black Outline Trial Italic'),
    url('TT Fors Black Outline Trial Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial ExtraBold'),
    url('TT Fors Trial ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial ExtraBold Italic'),
    url('TT Fors Trial ExtraBold Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial DemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial DemiBold'),
    url('TT Fors Trial DemiBold.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial DemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial DemiBold Italic'),
    url('TT Fors Trial DemiBold Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Bold';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Bold'),
    url('TT Fors Trial Bold.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Bold Italic'),
    url('TT Fors Trial Bold Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Black';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Black'),
    url('TT Fors Trial Black.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Trial Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Trial Black Italic'),
    url('TT Fors Trial Black Italic.woff') format('woff');
}
@font-face {
  font-family: 'TT Fors Black Outline Trial';
  font-style: normal;
  font-weight: normal;
  src: local('TT Fors Black Outline Trial'),
    url('TT Fors Black Outline Trial.woff') format('woff');
}
.bagel-fat-one-regular {
  font-family: 'Bagel Fat One', serif;
  font-weight: 400;
  font-style: normal;
}
/* мысли */
.Q_Effect {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
  width: 427px;
  height: 305px;
  background: #f9c8d3;
}

/* вторая карточка */

.Q_Effect2 {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
  width: 427px;
  height: 305px;
  background: #f1e8db;
}

/* третья карточка */

.Q_Effect3 {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
  width: 427px;
  height: 305px;
  background: #004227;
}
.A_Thought3:hover .Q_Effect3 {
  transform: rotateY(180deg);
}
/* четвертая карточка */

.Q_Effect4 {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
  width: 427px;
  height: 305px;
  background: #f29db0;
}
.A_Thought4:hover .Q_Effect4 {
  transform: rotateY(180deg);
}
/* пятая карточка */

.Q_Effect5 {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
  width: 427px;
  height: 305px;
  background: #be153e;
}
.A_Thought5:hover .Q_Effect5 {
  transform: rotateY(180deg);
}
/* шестая карточка */

.Q_Effect6 {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
  width: 427px;
  height: 305px;
  background: #ffffff;
}
.A_Thought6:hover .Q_Effect6 {
  transform: rotateY(180deg);
}
