body.index {
  background-color: #f29db0;
  .bagel-fat-one-regular {
    font-family: 'Bagel Fat One', serif;
    font-weight: 400;
    font-style: normal;
  }
  body.index {
    background-color: #f29db0;
    width: 1440px;
    margin: 0;
    padding: 0;
  }
  .white {
    border-radius: 15px;
    width: 1299px;
    height: 58px;
    backdrop-filter: blur(100px);
    background: #f29db0;
    margin-left: 70px;
    margin-top: 40px;
  }
  .menu {
    display: flex;
    justify-content: start;
    gap: 37px;
    margin-left: 21px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #be153e;
    padding-top: 10px;
  }
  a {
    text-decoration: inherit;
    color: #be153e;
  }
  .logo {
    justify-content: center;
    font-family: 'Bagel Fat One';
    font-weight: 800;
    font-size: 25px;
    line-height: 312%;
    text-align: right;
    color: #be153e;
    margin-top: -35px;
    margin-left: -182px;
  }
  .whitebox {
    display: flex;
    justify-content: space-between;
  }
  .but {
    border-radius: 10px;
    width: 201px;
    height: 50px;
    background: #be153e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-top: 4px;
  }
  .start {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 13px;
    line-height: 298%;
    color: #f29db0;
  }
  .big {
    font-family: 'Bagel Fat One';
    font-weight: 400;
    font-size: 300px;
    /* line-height: 98%; */
    color: #be153e;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: -300px;
  }
  .secondtext {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    color: #be153e;
    display: flex;
    justify-content: center;
    margin-top: -370px;
  }
  .longtext {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    color: #be153e;
    width: 567px;
    margin-left: 854px;
  }
  .menuic {
    display: none;
  }
  .allm {
    display: flex;
    gap: 37px;
  }
  @media only screen and (min-width: 1440px) and (max-width: 1920px) {
    body.index {
      max-width: 1440px;
    }
  }
  @media only screen and (min-width: 1366px) and (max-width: 1440px) {
    body.index {
      width: 100%;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
    body.index {
      width: 100%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    body.index {
      width: 100%;
    }
  }
  @media only screen and (min-width: 414px) and (max-width: 768px) {
    body.index {
      width: 100%;
    }
  }
  @media only screen and (min-width: 360px) and (max-width: 414px) {
    body.index {
      width: 100%;
    }
    .logo {
      display: none;
    }
    .start {
      display: none;
    }
    .but {
      display: none;
    }
    .big {
      font-family: 'Bagel Fat One';
      font-weight: 400;
      font-size: 120px;
      /* line-height: 98%; */
      color: #be153e;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      margin-top: -50px;
      margin-left: 130px;
      width: 300px;
    }
    .secondtext {
      font-family: 'Gilroy';
      font-weight: 800;
      font-size: 40px;
      line-height: 100%;
      color: #be153e;
      display: flex;
      justify-content: center;
      margin-top: -100px;
      width: 300px;
      margin-left: 50px;
    }
    .longtext {
      font-family: 'Gilroy';
      font-weight: 400;
      font-size: 20px;
      color: #be153e;
      width: 300px;
      margin-left: 200px;
    }
    .white {
      border-radius: 15px;
      width: 300px;
      height: 58px;
      backdrop-filter: blur(100px);
      background: #f29db0;
      margin-left: 70px;
      margin-top: 40px;
    }
    .menuic {
      display: flex;
      background-color: #f29db0;
      border: none;
      margin-left: -50px;
      margin-top: -20px;
    }
    .menu:hover .allm {
      display: block;
    }
    .menu:hover .main {
      display: block;
    }
    .main {
      display: none;
      color: #be153e;
    }
    .menu {
      display: block;
    }
    .allm {
      display: none;
      width: 200px;
      height: 350px;
      padding-left: 50px;
      padding-top: 50px;
      font-family: 'Gilroy';
      background-color: #fffcfd;
      text-transform: capitalize;
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 360px) {
    body.index {
      width: 100%;
    }
    .logo {
      display: none;
    }
    .start {
      display: none;
    }
    .but {
      display: none;
    }
    .big {
      font-family: 'Bagel Fat One';
      font-weight: 400;
      font-size: 120px;
      /* line-height: 98%; */
      color: #be153e;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      margin-top: -50px;
      margin-left: 130px;
      width: 300px;
    }
    .secondtext {
      font-family: 'Gilroy';
      font-weight: 800;
      font-size: 40px;
      line-height: 100%;
      color: #be153e;
      display: flex;
      justify-content: center;
      margin-top: -100px;
      width: 300px;
      margin-left: 50px;
    }
    .longtext {
      font-family: 'Gilroy';
      font-weight: 400;
      font-size: 20px;
      color: #be153e;
      width: 300px;
      margin-left: 200px;
    }
    .white {
      border-radius: 15px;
      width: 300px;
      height: 58px;
      backdrop-filter: blur(100px);
      background: #f29db0;
      margin-left: 70px;
      margin-top: 40px;
    }
    .menuic {
      display: flex;
      background-color: #f29db0;
      border: none;
      margin-left: -50px;
      margin-top: -20px;
    }
    .menu:hover .allm {
      display: block;
    }
    .menu:hover .main {
      display: block;
    }
    .main {
      display: none;
      /* color: #be153e; */
    }
    .menu {
      display: block;
    }
    .allm {
      display: none;
      width: 200px;
      height: 350px;
      padding-left: 50px;
      padding-top: 50px;
      font-family: 'Gilroy';
      background-color: #fffcfd;
      text-transform: capitalize;
      font-size: 20px;
    }
  }
}
